<%= form_for [@user, @entry, @idea] do |f| %>
  <%= f.text_area :idea_text %></br>
  <!--TODO fix form for  -->
  <p>Category:

<% category = @idea.category %>

  <select name="category">
      <option value="personal" <%= category == "personal" ? "selected" : nil %> >Personal</option>
      <option value="professional" <%= category == "professional" ? "selected" : nil %> >Professional</option>
      <option value="societal" <%= category == "societal" ? "selected" : nil %> >Societal</option>
      <option value="other" <%= category == "other" ? "selected" : nil %> >Other</option>
  </select>

  <!-- TODO create conditionals that will set a default radio button if that button matches the value saved in the databases -->
  <%= f.label 'Emotional Weight: ' %>
  <%= f.radio_button :emotional_weight, 3, :checked => false %> Pleasant
  <%= f.radio_button :emotional_weight, 0, :checked => true %> Neutral
  <%= f.radio_button :emotional_weight, -3, :checked => false %> Distressing </br>
  <%= f.submit %></p>
<% end %>
