<%= form_for [@user, @entry, @idea] do |f| %>
  <%= f.text_area :idea_text %></br>
  <!--TODO fix form for  -->
  <p>Category:

<% category = @idea.category %>
<% weight = @idea.emotional_weight %>

  <select name="category">
      <option value="personal" <%= category == "personal" ? "selected" : nil %> >Personal</option>
      <option value="professional" <%= category == "professional" ? "selected" : nil %> >Professional</option>
      <option value="societal" <%= category == "societal" ? "selected" : nil %> >Societal</option>
      <option value="other" <%= category == "other" ? "selected" : nil %> >Other</option>
  </select>

  <!-- TODO create conditionals that will set a default radio button if that button matches the value saved in the databases -->

  <select name="emotional_weight">
      <option value='3' <%= weight == 3 ? "selected" : nil %> >Pleasant</option>
      <option value='0' <%= weight == 0 ? "selected" : nil %> >Neutral</option>
      <option value='-3' <%= weight == -3 ? "selected" : nil %> >Distressing</option>
  </select>

  <%= f.submit %></p>
<% end %>
