<form>
  <input type="hidden" name="prompt" value="hi">
  <button>prompt</button>
</form>
<%= form_for [@user, @entry] do |f| %>
  <%= f.hidden_field :user_id, :value => session[:user_id]  %>
  <!-- inputs for idea1 -->
  <h3>Thought 1</h3>
  <textarea rows="10" cols="80" name="idea1_text" class="text-area" placeholder="<%= params['prompt']=='hi' ? 'Completely optional prompt: ' + @prompts.sample : nil %>"></textarea>
  <label  for="idea1_category" class="form-label">Category: </label>
  <select name="idea1_category">
    <option value="personal">Personal</option>
    <option value="professional">Professional</option>
    <option value="societal">Societal</option>
    <option value="other">Other</option>
  </select>
  <label for="idea1_emotional_weight" class="form-label">This thought was:</label>
  <input type="radio" name="idea1_emotional_weight" value=3>Pleasant
  <input type="radio" name="idea1_emotional_weight" value=0 checked>Neutral
  <input type="radio" name="idea1_emotional_weight" value=-3>Distressing</br>
  </br>


  <!-- inputs for idea2 -->
  <h3>Thought 2</h3>
  <textarea rows="10" cols="80" name="idea2_text" class="text-area" placeholder="<%= params['prompt']=='hi' ? 'Completely optional prompt: ' + @prompts.sample : nil %>"></textarea>
  <label for="idea2_category" class="form-label">Category: </label>
  <select name="idea2_category">
    <option value="personal">Personal</option>
    <option value="professional">Professional</option>
    <option value="societal">Societal</option>
    <option value="other">Other</option>
  </select>
  <label for="idea2_emotional_weight" class="form-label">This thought was:</label>
  <input type="radio" name="idea2_emotional_weight" value=3>Pleasant
  <input type="radio" name="idea2_emotional_weight" value=0 checked>Neutral
  <input type="radio" name="idea2_emotional_weight" value=-3>Distressing</br>
  </br>


  <!-- inputs for idea3 -->
  <h3>Thought 3</h3>
  <textarea rows="10" cols="80" name="idea3_text" class="text-area" placeholder="<%= params['prompt']=='hi' ? 'Completely optional prompt: ' + @prompts.sample : nil %>"></textarea>
  <label for="idea3_category">Category: </label>
  <select name="idea3_category">
    <option value="personal">Personal</option>
    <option value="professional">Professional</option>
    <option value="societal">Societal</option>
    <option value="other">Other</option>
  </select>
  <label for="idea3_emotional_weight" class="form-label">This thought was:</label>
  <input type="radio" name="idea3_emotional_weight" value=3>Pleasant
  <input type="radio" name="idea3_emotional_weight" value=0 checked>Neutral
  <input type="radio" name="idea3_emotional_weight" value=-3>Distressing</br>
  </br>

  <%= f.submit %>
<% end %>

<!-- # params => { "entry" => {"name" => "dreams"}, "idea1" => "rollerblakes" } -->
