<!-- I want to show the date the entry was created    -->
<p><strong>Entry created at:</strong> <%= @entry.created_at %></p>

<!-- I want to loop through the various ideas of an entry and print their text -->
<% counter=1 %>
<% @entry_ideas.each do |i| %>
  <h3>Thought <%= counter %></h3>
  <p><%= i.idea_text %></p>
  <p><strong>Category:</strong> <%= i.category.capitalize if i.category != nil %></p>
  <% if i.emotional_weight == 3 %>
    <% emotion = "Pleasant" %>
  <% elsif i.emotional_weight == 0 %>
    <% emotion = 'Neutral' %>
  <% else %>
    <% emotion = 'Distressing'   %>
  <% end %>
  <p><strong>Emotional weight: </strong><%= emotion %></p>
  <%= link_to 'Edit Thought', "/users/#{session[:user_id]}/entries/#{params[:id]}/ideas/#{i.id}/edit", class: 'button' %></br>

  <% counter+=1 %>

<% end %>
