<!-- I want to show the date the entry was created    -->
<p><strong>Entry created at:</strong> <%= @entry.created_at %></p>

<!-- I want to loop through the various ideas of an entry and print their text -->
<% counter=1 %>
<% @entry_ideas.each do |i| %>
  <h3>Thought <%= counter %></h3>
  <%= i.idea_text %>
  <p><strong>Category:</strong> <%= i.category.capitalize if i.category != nil %></p>
  <% if i.emotional_weight == 3 %>
    <% emotion = "Pleasant" %>
  <% elsif i.emotional_weight == 0 %>
    <% emotion = 'Neutral' %>
  <% else %>
    <% emotion = 'Distressing'   %>
  <% end %>
  <p><strong>Emotional weight: </strong><%= emotion %></p>
  <% counter+=1 %>
<% end %>


<%= link_to 'Edit Entry', "/users/#{params[:user_id]}/entries/#{params[:id]}/edit" %>
<%= link_to"Destroy Entry", "/users/#{params[:user_id]}/entries/#{params[:id]}", :method => :delete %>
