<%= flash[:notice] %>

<h2>The journaling tool that grows to know you.</h2>
</br>
</br>
<h3>Login</h3>
<%= form_tag('/login') do %>
  <%= text_field_tag :email, nil, id: "loginsignup", placeholder:"Your Email" %>
  <%= password_field_tag :password, nil, id: "loginsignup", placeholder:"Password" %>
  <%= submit_tag "Login" %><%= link_to 'Or Create an Account', '/signup', class: 'button', id: 'signup-button'%>
<% end %>


