<h3>This week's insights:</h3><br>
<p>Thoughts pertaining to your <b>professional life</b> have been: <span class= <%= @professional_text_color %> ><%= @professional_verdict %></span> </p><br>

<p>Thoughts pertaining to your <strong>personal life</strong> have been: <span class= <%= @personal_text_color %> ><%= @personal_verdict %></span></p><br>
<p>Thoughts pertaining to <b>society</b> have been: <span class= <%= @societal_text_color %> ><%= @societal_verdict %></span></p><br>
<p>Thoughts pertaining to <b>all other topics</b> have been: <span class= <%= @other_text_color %> ><%= @other_verdict %></span></p><br>
