<h1>This week's insights:</h1></br>
<h1>Your thoughts pertaining to your professional life have been: <span class= <%= @professional_text_color %> ><%= @professional_verdict %></span> </h1></br>

<h1>Your thoughts pertaining to your personal life have been: <span class= <%= @personal_text_color %> ><%= @personal_verdict %></span></h1></br>
<h1>Your thoughts pertaining to society have been: <span class= <%= @societal_text_color %> ><%= @societal_verdict %></span></h1></br>
<h1>Your thoughts pertaining to all other topics have been: <span class= <%= @other_text_color %> ><%= @other_verdict %></span></h1></br>
