<h1>This weeks's insights:</h1></br>
<h1>Your thoughts pertaining to your professional life have been: <span class= <%= @text_color %> ><%= @professional_verdict %></span> </h1></br>

<h1>Your thoughts pertaining to your personal life have been: <%= @personal_verdict %> </h1></br>
<h1>Your thoughts pertaining to society have been: <span class= <%= @text_color %> ><%= @societal_verdict %></span></h1></br>
<h1>Your thoughts pertaining to all other topics have been: <%= @other_verdict %> </h1></br>
