<!DOCTYPE html>
<html>
<head>
  <title>ThoughtLogApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <div id="header" class="sixteen columns">
      <div class="row">
        <div id="logo" class="three columns alpha">
          <h1><a href="/users/<%=session[:user_id]%>/dashboard">buddhaJOURNAL</a></h1>
        </div>
        <div class="nav four columns offset-by-nine omega">
          <h1 class="logout-link"><%= button_to "Sign out", logout_path,  class: 'button' %></h1>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      <%= yield %>
    </div>
    <div class="sixteen columns">
      <div id="footer" class="sixteen columns"></div>
    </div>
  </div>
</body>
</html>

