<!DOCTYPE html>
<html>
<head>
  <title>ThoughtLogApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <div id="header" class="sixteen columns">
      <div class="row">
        <div id="logo" class="three columns alpha">
          <h1><a href="/users/<%=session[:user_id]%>/dashboard">InsightJournal</a></h1>
        </div>
        <div class="nav one column offset-by-twelve omega">
          <% if session[:user_id] != nil %>
            <%= button_to "Sign out", logout_path,  class: 'button', id: 'logout' %>
          <% end %>
        </div>
      </div>
    </div>
    <div id='contains-yield' class="sixteen columns">
      <%= yield %>
    </div>
    <div class="sixteen columns">
      <div id="footer" class="sixteen columns"></div>
    </div>
  </div>
</body>
</html>

